body {
  padding: 0;
  margin: 0;
}

#map,
body,
html {
  height: 100%;
}

.legend {
  background-color: white;
  border: 1px solid #ccc;
  padding: 10px;
  border-radius: 5px;
}


.legend-item {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
}


.legend-item i {
  display: inline-block;
  width: 20px;
  height: 15px;
  margin-right: 5px;
}